doctype html
html(lang="en")
    head
        title Landing Page
    body
    h1 The future home of something magical
    p Warp doubloon booty case shot weigh anchor belay topgallant Privateer ballast Gold Road. No prey, no pay keelhaul heave down lugsail quarter tackle code of conduct brigantine warp bucko. Pieces of Eight code of conduct topmast doubloon Admiral of the Black maroon galleon jolly boat pinnace hail-shot. Hempen halter blow the man down pressgang gunwalls rum boatswain Pieces of Eight reef fore measured fer yer chains. Jack Ketch capstan jury mast scourge of the seven seas clap of thunder lateen sail bilge gunwalls boatswain line.